.demo4 {
    .wui-form-item-label {
        min-width: 80px;
        white-space: nowrap;
        text-align: right;
    }
    .wui-checkbox-group,
    .col {
        display: inline-flex;
    }
    .wui-form-item {
        min-height: 42px;
        .wui-select {
            min-width: 152px;
        }
        .wui-input {
            min-width: 152px;
        }
    }
    .wui-form-item,
    .wui-form-item>div {
        padding: 0;
    }
    .wui-search .wui-collapse {
        padding-top: 0px;
        padding-bottom: 0;
        .wui-collapse-body{
            padding-bottom: 0
        }
    }
    .wui-search-resident {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .demo-head {
        box-sizing: border-box;
    }
    .demo-body {
        margin: 0 -20px;
    }
}